apiVersion: v1
data:
  my.cnf: |
    [mysqld]
    pid-file = /var/lib/mysql/mysqld.pid
    socket = /var/run/mysqld/mysqld.sock
    datadir = /var/lib/mysql
    secure-file-priv = NULL
    symbolic-links = 0
    authentication_policy = caching_sha2_password
    ssl-ca = /etc/mysql/certs/ca-cert.pem
    ssl-cert = /etc/mysql/certs/client-cert.pem
    ssl-key = /etc/mysql/certs/client-key.pem
    bind-address = 0.0.0.0
    server-id = 2
    port = 3306
    log_bin = /var/lib/mysql/mysql-bin.log
    gtid_mode = on
    enforce_gtid_consistency = on
    relay-log=/var/lib/mysql/replica-relay-bin
    log_slave_updates = on
    binlog_expire_logs_seconds = 2592000
    require_secure_transport=OFF
kind: ConfigMap
metadata:
  annotations:
    use-subpath: "true"
  labels:
    io.kompose.service: mysql-replica
  name: mysql-replica-cm0
